<div class="navbar navbar-default"
     role="navigation" ng-controller="NavbarCtrl">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle"
              data-toggle="collapse" data-target="#jsNav">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">jsNote</a>
    </div>
    <div class="collapse navbar-collapse" id="jsNav">
      <ul class="nav navbar-nav">
        <li ng-repeat="item in menu" ng-class="{active: isActive(item.link)}">
          <a ng-href="{{item.link}}">{{item.title}}</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li ng-hide="currentUser" ng-class="{active: isActive('/login')}">
          <a href="/login">Login</a></li>
        <!--<li ng-hide="currentUser" ng-class="{active: isActive('/signup')}"><a href="/signup">Sign up</a></li>-->
        <li class="dropdown" ng-show="currentUser">
          <a href="" class="dropdown-toggle"
             bs-dropdown="usrMenu">{{ currentUser.name }}
            <b class="caret"></b></a>
        </li>
        <ul class="dropdown-menu">
          <a href="" ng-click="logout()">Logout</a>
        </ul>
      </ul>
    </div>
  </div>
</div>