<div class="row">
  <div class="panel panel-success">
    <nav class="navbar navbar-default">
      <div class="navbar-header">
        <div class="navbar-brand">Notes</div>
      </div>
      <form class="navbar-form navbar-right" role="search">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search.."
                 ng-model="searchStr"/>
            <span class="input-group-btn">
              <button class="btn btn-default" type="button"
                      data-ng-click="search()">
                <span class="glyphicon glyphicon-search"></span>
              </button>
            </span>
        </div>
      </form>
    </nav>

    <table class="table table-bordered table-hover"
           ng-table="noteTabOpts">
      <thead>
      <tr class="active">
        <td>
          <a data-ng-click="getNew()">
            <span class="glyphicon glyphicon-plus"></span>
          </a>
        </td>
        <td>Name</td>
        <td>Tags</td>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="note in $data" ng-click="show(note)" bs-modal="noteShowModel">
        <td>
          <a data-ng-click="edit(note)">
            <span class="glyphicon glyphicon-edit"></span>
          </a>
          <a data-ng-click="delete(note)">
            <span class="glyphicon glyphicon-trash"></span>
          </a>
        </td>
        <td>{{note.name}}</td>
        <td>{{note.tags}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
